# Ignore all files by default, but scan all directories

*
!/*

# Ignore folders
Build/*
Intermediate/*
obj/*
Saved/*
DrivedDataCache/*

# Icon files in Build
!Build/**/*.ico

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore other solution files
*.sdf
*.suo
*.opensdf

# Exceptions
/*.sln
/*.xcodeproj
/Makefile
/CMakeLists.txt
*.target.xml
*.exe.config

# Asset files
!*.uasset
!*.umap

# C/C++ source files
!*.c
!*.cc
!*.cpp
!*.cpp.template
!*.h
!*.h.template
!*.hpp
!*.inl
!*.inc
!*.m
!*.mm
!*.rc
!*.def
!*.exp
!*.manifest

# Java source files
!*.java
!*.java.template

# C# source files
!*.cs
!*.cs.template
!*.aspx
!*.resx

# Shader formats
!*.usf
!*.hlsl
!*.glsl

# Text files
!*.txt
!*.md

# Script files
!*.bat
!*.sh
!*.pl
!*.py
!*.js
!*.command

# Other configuration and markup files
!*.ini
!*.json
!*.tps
!*.xml
!*.xaml
!*.uproject
!*.uplugin
!*.html
!*.html.template
!*.css
!*.udn
!*.config
!*.version
!.git*

# Projects and makefiles
!*.cmake
!*.mk
!*.dsp
!*.dsw
!*.csproj
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.xcodeproj
!*.xcconfig
!*.vsprops
!*.snippet
!Makefile
!Makefile.*
!Settings.settings

# Libraries data files
!*.dll
!*.lib

# Picture data files
!*.gif
!*.jpg
!*.jpeg
!*.png
!*.tif
!*.tiff
!*.bmp

# Model data files
!*.obj
!*.3ds
!*.max
!*.wrl
!*.x3dv
!*.x3d
!*.x3db
!*.dxf
!*.stl
!*.pov
!*.inc
!*.dae
!*.fbx
!*.lwo
!*.ply
!*.off
!*.xsi
!*.ac
!*.c3d
!*.bvh
!*.x

# Specific names
!README
!AUTHORS
!LICENSE
!FAQ
!VERSION
!ChangeLog

# Ignore Unix backup files
*~
